* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.photo {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.layover {
  background-color: rgba(20, 20, 20, 0.5);
  height: 100%;
}

.first.photo {
  background-image: url("../img/Wellington.jpg");
}

.second.photo {
  background-image: url("../img/Auckland.jpg");
}

.third.photo {
  background-image: url("../img/Tauranga.jpg");
}


.city-name {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
