* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.photo {
  height: 100vh;
  background-color: red;
  background-size: cover;
  background-position: center;
}

.layover {
  background-color: rgba(20, 20, 20, 0.5);
  height: 100%;
}

.first.photo {
  background-image: url("../img/Wellington.jpg");
}

.city-name {
  font-size: 50px;
  color: white;
}
