* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../img/vintage-005.png);
  background-size: cover;
  background-position: center;
}

header {
  font-size: 70px;
  font-family: 'Homemade Apple', cursive;
  padding: 10px;
  background-color: orange;
  width: 53%;
  position: fixed;
  top: 45px;
  left: 15px;
  z-index: 10;
  transform: rotate(2deg);
  box-shadow: 10px 10px 10px rgba(45,45,45,0.6);
}

/* Ogni foto è contenuta in un box a cui ho dato del padding in modo da utilizzarlo per incorniciare le foto */
.container {
  padding: 20px;
  background-color: orange;
  width: 70vw;
  margin: auto;
}

.photo {
  height: calc(100vh - 40px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.layover {
  background-color: rgba(50, 30, 10, 0.5);
  height: 100%;
}

.container:hover .layover {
  background-color: rgba(50, 30, 10, 0);
}

.first.photo {
  background-image: url("../img/Wellington.jpg");
}

.second.photo {
  background-image: url("../img/Auckland.jpg");
}

.third.photo {
  background-image: url("../img/Tauranga.jpg");
}


.city-name {
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  color: white;
  text-shadow: 1px 1px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  font-size: 0.3em;
  font-family: courier, monospace;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: black;
  /* border-radius: 10px 0 10px 10px; */
  display: none;
  position: fixed;
}

.container:hover .city-name {
  text-shadow: 2.5px 2.5px 5px rgb(20, 20, 20);
  color: orange;
  display: block;
}

/* .container:hover .description {
  color: white;
  text-shadow: 0px 0px rgba(50, 30, 10, 0.5);
  display: block;
}

.container:hover .photo {
  box-shadow: 6px 6px #ffffff;
} */
