* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../img/vintage-005.png);
  background-size: cover;
  background-position: center;
}

header {
  font-size: 70px;
  font-family: 'Homemade Apple', cursive;
  padding: 10px;
  background-color: orange;
  width: 53%;
  position: fixed;
  top: 45px;
  left: 15px;
  z-index: 10;
  transform: rotate(2deg);
  box-shadow: 10px 10px 10px rgba(45,45,45,0.6);
  line-height: 15px;
}

ul {
  padding: 10px;
}

header ul li {
  display: inline-block;
  font-size: 0.3em;
  padding-right: 50px;
}

a {
  color: white;
  text-decoration: none;
}

/* Ogni foto è contenuta in un box a cui ho dato del padding in modo da utilizzarlo per incorniciare le foto */
.container {
  padding: 20px;
  background-color: orange;
  width: 70vw;
  margin: auto;
  position: relative;
}

.kiwi {
  width: 260px;
  height: 254px;
  background-image: url("../img/kiwi-001.png");
  position: absolute;
  bottom: 0;
  left: 0;
}

.container:hover .kiwi {
  background-image: url("../img/kiwi-002.png");
}

.photo {
  height: calc(100vh - 40px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.layover {
  background-color: rgba(50, 30, 10, 0.5);
  height: 100%;
}

.container:hover .layover {
  background-color: rgba(50, 30, 10, 0);
}

.first.photo {
  background-image: url("../img/Wellington.jpg");
}

.second.photo {
  background-image: url("../img/Auckland.jpg");
}

.third.photo {
  background-image: url("../img/Tauranga.jpg");
}


.city-name {
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  color: white;
  text-shadow: 1px 1px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  font-size: 15px;
  font-family: "Comic Sans MS", fantasy;
  color: white;
  text-align: left;
  padding: 10px;
  background-color: black;
  border-radius: 10px 10px 10px 0;
  display: none;
  position: absolute;
  left: 260px;
  bottom: 254px;
}

.container:hover .city-name {
  text-shadow: 2.5px 2.5px 5px rgb(20, 20, 20);
  color: orange;
  display: block;
}

.container:hover .description {
  text-shadow: 0px 0px rgba(50, 30, 10, 0.5);
  display: block;
}

.container:hover .photo {
  box-shadow: inset 2.5px 2.5px 5px rgba(45,45,45,0.6);
}

.contattaci {
  position: fixed;
  bottom: 45px;
  right: 15px;
  color: white;
  font-family: "Comic Sans MS", fantasy;
  font-size: 15px;
  transform: rotate(-2deg);
  background-color: darkgrey;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(45,45,45,0.6);
}

form {
  padding-top: 20px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  width: 95%;
}

input[type="submit"] {
  cursor: pointer;
}

footer {
  height: 80px;
  width: 70vw;
  background-color: orange;
  margin: 40px auto;
}
